<footer class="container-fluid mt-5">
    <div class="row gap-3 pt-5 justify-content-center">
        <div class="col-lg-2 col-md-12">
            <h3 class="">VisionVault</h3>
        </div>
        <div class="col-lg-2 col-md-4">
            <h5 class="pt-3 pb-3">Built For Creatives</h5>
                <li>Try Behance Pro</li>
                <li>Find inspiration</li>
                <li>Get Hired</li>
                <li>Sell Creative Assets</li>
                <li>Sell Freelance Services</li>
        </div>
        <div class="col-lg-2 col-md-4">
            <h5 class="pt-3 pb-3">Find Talent</h5>
                <li>Post a Job</li>
                <li>All Featured Freelance Designers</li>
                <li>Graphic Designer</li>
                <li>Video Editor</li>
        </div>
        <div class="col-lg-2 col-md-4">
            <h5 class="pt-3 pb-3">Vision Vault</h5>
                <li>About VisionVault</li>
                <li>Blog</li>
                <li>Help Center</li>
                <li>Contact Us</li>
        </div>
        <div class="col-lg-2 col-md-4 pb-5">
            <h5 class="pt-3 pb-3">Social</h5>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Pinterest</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">LinkedIn</a></li>
        </div>
        <hr class="footer-hr">
        <div class="row">
            <div class="col-lg-4 d-flex footer-sec gap-3 ps-4 justify-content-center">
                <p class="ps-2 footer-brand">Adobe</p>
                <p>@ 2024 Adobe Inc. All rights reserved.</p>
            </div>
            <div class="col-lg-4 d-flex footer-sec justify-content-center gap-4">
                <p>English</p>
                <p>Privacy</p>
                <p>Community</p>
            </div>
            <div class="col-lg-4 footer-sec justify-content-center">
                <p>Do not sell or share my personal information.</p>
            </div>
        </div>
    </div>
</footer>